img {
    max-width: 150%;
    height: auto;
    max-height: 250px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
    font-size: 48px
}

#logo {
    max-width: 100px;
    /* Ajusta el tamaño máximo según tus necesidades */
    height: auto;
    margin-right: 10px;
    /* Ajusta el margen derecho según tus necesidades */
}


h1,
#enlace {
    margin-left: auto;
    text-decoration: none;
    color: white;
    font-size: 48px;
    cursor: pointer
}

#enlace {
    font-size: 30px;
}


h2 {
    color: #3498db;
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 20px;
}


p {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

p+p {
    margin-top: 15px;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    h1,
    #enlace {
        margin-left: 0;
        margin-top: 10px; /* Agregado espacio entre el título y el enlace */
    }

    #logo {
        margin-right: 0;
    }

    #enlace {
        font-size: 24px; /* Tamaño de fuente reducido para dispositivos móviles */
    }

    h2 {
        font-size: 2em; /* Tamaño de fuente reducido para dispositivos móviles */
    }

    p {
        font-size: 1em; /* Tamaño de fuente reducido para dispositivos móviles */
        margin-bottom: 10px; /* Reducción del margen inferior */
    }

    hr {
        margin-bottom: 30px; /* Reducción del margen inferior */
    }
}